:root {
    /* ------------ Fonts ------------ */
    --font-family: 'Spartan', sans-serif;
  
    /* ----------- Colors ------------ */
    --dark-cyan: hsl(180, 29%, 50%);
    --background: hsl(180, 52%, 96%);
    --filter-tablets: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayhish-cyan: hsl(180, 14%, 20%);
  }

/* --------------------------------------- 7. FILTERS PANEL ------------------------------------- */
.filters-panel {
    position: relative;
    top: -3.5em;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    background: white;
    padding: 1em 2em 0 2em;
    border-radius: 10px;
    margin: 0 auto -4em auto;
    box-shadow: 3px 3px 30px rgba(91, 164, 164, 0.4);
    z-index: 2;
    animation: 1s ease-out forwards slideFromRight;
}

.all-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.clear-filters {
    color: var(--dark-grayish-cyan);
    padding: 0 0 1em 1em;
    font-size: .9em;
    cursor: pointer;
    -webkit-transition: color 500ms ease-in-out;
            transition: color 500ms ease-in-out;
}

.clear-filters:hover, .clear-filters:focus {
    color: var(--dark-cyan);
    font-weight: 700;
    text-decoration: underline;
}

.filter-applied {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 33px;
    width: auto;
    margin: 0 1em 1em 0
}

.filter-name {
    font-size: .9em;
    padding: .6em;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--dark-cyan);
    border: none;
    background: var(--filter-tablets);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filter-remove {
    width: 33px;
    height: 100%;
    display: inline-block;
    position: relative;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' id='remove-icon'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M11.314 0l2.121 2.121-4.596 4.596 4.596 4.597-2.121 2.121-4.597-4.596-4.596 4.596L0 11.314l4.596-4.597L0 2.121 2.121 0l4.596 4.596L11.314 0z'/%3E%3C/svg%3E") center;
    background-repeat: no-repeat;
    background-size: scale-down;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--dark-cyan);
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
            transition: all 500ms ease-in-out;
}

.filter-remove:hover, .filter-remove:focus {
    background-color: var(--very-dark-grayhish-cyan);
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}