:root {
    /* ------------ Fonts ------------ */
    --font-family: 'Spartan', sans-serif;
  
    /* ----------- Colors ------------ */
    --dark-cyan: hsl(180, 29%, 50%);
    --background: hsl(180, 52%, 96%);
    --filter-tablets: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayhish-cyan: hsl(180, 14%, 20%);
}

@media screen and (min-width: 376px) {
    .green-header:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1366' height='156' viewBox='0 0 1366 156'%3E%3Cg fill='%2363BABA' fill-rule='evenodd'%3E%3Cpath d='M470.577 563.429c-51.432-51.425-51.438-134.806-.013-186.237l.013-.013L867.235-19.424c51.441-51.434 134.836-51.434 186.276 0 48.811 48.804 51.304 126.392 7.473 178.135l178.158-178.135c51.441-51.434 134.836-51.434 186.277 0 51.431 51.424 51.437 134.805.013 186.237-.005.004-.01.008-.013.013l-396.66 396.603c-51.44 51.433-134.834 51.433-186.275 0-48.812-48.805-51.304-126.394-7.471-178.138L656.853 563.43c-51.441 51.433-134.836 51.433-186.276 0zM342.268 45.605c-51.432-51.425-51.438-134.806-.013-186.237l.013-.013 396.658-396.603c51.441-51.434 134.836-51.434 186.277 0 51.431 51.424 51.437 134.805.013 186.237-.005.004-.01.008-.013.013L528.543 45.605c-51.44 51.433-134.834 51.433-186.275 0zm-444.692 71.824c-51.432-51.424-51.438-134.806-.013-186.237l.013-.013 396.658-396.603c51.441-51.434 134.836-51.434 186.277 0 51.431 51.424 51.437 134.805.013 186.237a80.86 80.86 0 01-.013.013L83.85 117.429c-51.44 51.433-134.834 51.433-186.275 0z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        right: 0;
        height: 100%;
    }
}

@media screen and (min-width: 600px) {
    .logo {
        margin: -7em 0 0 0;
    }

    .job:first-child {
        margin: 5em 0 0 0;
    }

    .job:not(:first-child) {
        margin: 5em 0 0 0;
    }
}

@media screen and (min-width: 800px) {
    .info-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        width: 100%;
    }

    .additional-info {
        border: none;
    }

    .filters {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        height: 2em;
        margin-bottom: calc(5em / 2);
    }

    .button-filter {
        display: inline-block;
        height: auto;
        margin: 0;
    }

    .button-filter:not(:first-child) {
        margin: 0 0 0 1em;
    }
}

@media screen and (min-width: 1000px) {
    .job {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
                align-items: center;
        padding: 1em 2em;
    }

    .job:first-child {
        margin: 3em 0 2em 0;
    }

    .job:not(:first-child) {
        margin: 2em 0 0 0;
    }

    .logo {
        margin: 0;
    }

    .job-info {
        padding: 0;
    }

    .info-wrapper {
        margin: 0 0 0 2em;
    } 
    
    .filters {
        margin: 0;
    }

    .filters-panel {
        top: -3.5em;
    }
}